.mainbar{
/* sizing */
    height: 100%;width: 160px;top: 0; left: 0;
/* */
    position: fixed!important;overflow-x: hidden;padding-top: 20px;z-index: 1;
/* colors */
    background-color: #032E3E;
}

.mainbar a{
/* texts */
    padding: 10px 4px 4px 0px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #BDC8D8;
    display: block;
    
}

.mainbar a:hover{
    
    color: #FCFEFE;
}

@media screen and (max-height: 450px) {
    .mainbar {padding-top: 15px;}
    .mainbar a {font-size: 18px;}
}

.mainbar fa-icon{
    font-size: 19px;
    padding: 0px 11px 10px 8px;
}

.box{
    margin-top: 180px;
    align-items: center;
    justify-content: center;
    
}